img{
  width: 200px;
  height: 200px;
}
ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
li{
  list-style: none;
}
.product-list{
  margin: 0 50px;
}
.title {
  text-align: center;
}
.d-flex{
  display: flex;
  flex-wrap: wrap;
}